@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


body {
    font-family:"Poppins,Sans-Serif";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .container {
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2{
    font-size: 32px;
    text-align: center; 
    color: black;   
   }
  
  p {
    margin-bottom: 20px;
    font-size: 16px;
    color: black;   
  }
  
  .login-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #002a57;
    color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  