<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voter Registration Confirmation</title>
  {%load static%}
  <link rel="stylesheet" href="{% static 'regComplete_styles.css'%}">
</head>
<body>
  <div class="container">
    <h2>Registered as a User</h2>
    <p> Thank you for becoming part of our virtual family. Kindly proceed to log in.</p>
    <a href="signin" class="login-btn">Login</a>
  </div>
</body>
</html>
